/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Other CSS */
body {
  font-family: "Sofia Sans", sans-serif;
}
/* Most Uses CSS */
.section-fixed {
  width: 1316px;
  margin: 0 auto;
}
.btn {
  padding: 10px 35px;
  background: #08a82bf5;

  border-radius: 5px;
}
/* Header Section */
header {
  margin: 0 auto;
}
/* Navigation Bar Style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background: #fff;
}
.nav-logo img {
  width: 100px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  list-style: none;
}
.main-nav ul li a {
  text-decoration: none;
  margin-right: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.right-nav ul {
  display: flex;
}
.right-nav ul li {
  list-style: none;
  margin-right: 25px;
}
.right-nav ul li select {
  border: none;
  color: #000;
  font-family: Sofia Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
}
.right-nav ul li a {
  background-color: #000;
  padding: 4px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
/* Navigation Bar End */

/* Hero Section Start */
.hero-section {
  background-color: #000;
  height: 500px;
}
.hero-details {
  display: flex;
  gap: 150px;
}
.hero-description h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  margin-top: 85px;
}
.hero-description p {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin-top: 30px;
}
.align-btn {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
.hero-description select {
  width: 230px;
  height: 39px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Sofia Sans", sans-serif;
  padding: 8.5px 18px;
}
.hero-description select option {
  font-family: "Sofia Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.hero-description .btn-apply {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.hero-image img {
  width: 400px;
  margin-top: 80px;
}
/* Hero Section End */

/* Services Section Start */

.services {
}
.services h2 {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 100px;
}
.services > p {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.main-courses {
  display: flex;
  gap: 13px;
}
.main-courses .single-course {
  width: 430px;
  height: 179px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #a9a8a8;
  margin-top: 80px;
}
.main-courses .single-course img {
  width: 80px;
}
.main-courses .single-course p {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.subjects {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.subjects .single-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.subjects .single-sub h3 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
.subjects .single-sub p {
  color: #424040;
  font-size: 20px;
  font-weight: 400;
}
.button-box {
  display: flex;
  justify-content: center;
  margin-top: 63px;
}
.learn-more {
  text-decoration: none;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background: #08a82bf5;
}
/* Services Section End */

/* Post Check Quality Section Start */
.post-check {
}
.post-check h2 {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 200px;
}
.post-check > p {
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.post-check .all-post {
  display: flex;
  gap: 40px;
  margin-top: 77px;
}
.post-check .all-post .single-post {
  width: 412.647px;
  height: 655px;
  border-radius: 20px;
  background: #f3f3f3;
}
.post-check .all-post .single-post img {
  width: 413.12px;
  height: 359px;
  border-radius: 20px;
}
.single-post-blue img {
  background: #0079bd;
}
.single-post-red img {
  background: #c32626;
}
.single-post-green img {
  background: #32900a;
}
.post-check .all-post .single-post h3 {
  font-size: 30px;
  font-weight: 600;
  padding-left: 35px;
  padding-top: 50px;
}
.post-check .all-post .single-post p {
  color: #535353;
  font-size: 18px;
  font-weight: 400;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.post-check .all-post .single-post a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 35px;
}
.blue-color {
  color: #0079bd;
}
.red-color {
  color: #c32626;
}
.green-color {
  color: #32900a;
}
.blue-bg {
  background-color: #0079bd;
}
.red-bg {
  background-color: #c32626;
}
.green-bg {
  background-color: #32900a;
}
/* Post Check Quality Section End */

/* Footer Area Start */

footer {
  background: #f3f3f3;
  margin-top: 200px;
  height: 521px;
}
.footer-area {
  display: flex;
}
.part-1 {
  margin-top: 110px;
}
.part-1 img {
  width: 200px;
}
.part-1 ul {
}
.part-1 ul li {
  list-style: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin-top: 25px;
  margin-right: 95px;
  width: 390px;
}

.part-2 {
  margin-top: 110px;
}
.part-2 h4 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}
.part-2 ul {
}
.part-2 ul li {
  list-style: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin-top: 25px;
  margin-right: 109px;
}

.part-3 {
  margin-top: 110px;
}
.part-3 h4 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
}
.part-3 ul {
}
.part-3 ul li {
  list-style: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin-top: 25px;
  margin-right: 107px;
}

.part-4 {
  margin-top: 110px;
}
.part-4 .same-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-4 input[type="email"] {
  background: #f3f3f3;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 5px 10px;
  outline: none;
  color: #000;
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 600;
  width: 200px;
}
.part-4 span {
  color: #000;
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 600;
}
.part-4 h4 {
  color: #000;
  font-size: 29px;
  font-weight: 600;
  margin-top: 28px;
}
.part-4 .social-icons {
  display: flex;
  justify-content: space-between;
}
.part-4 .social-icons a {
  font-size: 60px;
  color: #000;
  margin-top: 25px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}
/* Footer Area End */
